<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a Mi Flask App</h1>
    <h1>TE AMO MUCHO MIAMOR HERMOSO, ESTOY FELIZ DE TENERTE CONMIGO</h1>
    <h1>Y NO SABES LO ORGULLOSO DE TODO LO QUE ESTAS LOGRANDO TU SOLITAp</h1>

    <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/contacto">Contacto</a>
    </nav>
</body>
</html>